<div id='list-controls'>
  <div class="container">
    <ul class="nav nav-pills" id='category-filter'>
      {{each availableNavItems itemViewClass="Discourse.NavItemView"}}
    </ul>

    {{#if canCreateTopic}}
      <button class='btn btn-default' {{action createTopic}}><i class='icon icon-plus'></i>{{view.createTopicText}}</button>
    {{/if}}

    {{#if canEditCategory}}
      <button class='btn btn-default' {{action editCategory category}}>{{i18n category.edit_long}}</button>
    {{/if}}

    {{#if canCreateCategory}}
      <button class='btn btn-default' {{action createCategory}}><i class='icon icon-plus'></i>{{i18n category.create}}</button>
    {{/if}}

  </div>
</div>

<div class="container">

{{#if showWelcome}}
      <div class="row">
      <div id="civilized"></div>
      <h2><a href="#civilized">Welcome to the best forum about Berlin.</a></h2>
      <p>
        Okay, okay, its not the best in terms of numbers.  To be honest, hardly anyone knows about this forum at the moment.  The technology behind it is the best though.  Really.  And that's not because I've built the smartest forum technology.  Someone else has and I'm making use of it ;)
        <a href="/about">Find out more about this site....</a>
      </p>
      <div class="more">
        <p>
          In the meantime please click around and enjoy the site.  If you are too lazy to create an account, you can log in as user: "guest", password: "guestuser" and have a play.
        </p>
        <p>It really is very easy to create an account though so I'd encourage you to do so - especially if I have invited you personally to this site - in which case, if you don't create an account, you're off my Christmas mailing list!!!!</p>
      </div>
    </div>
{{/if}}

  <div class="row">

    <div class="full-width">
      <div id='list-area'>
        {{#if loading}}
          <div class='contents loading'>
            <table id='topic-list'>
              <tr>
                <td colspan='8'>
                  <div class='spinner'>{{i18n loading}}</div>
                </td>
              </tr>
            </table>
          </div>
        {{/if}}

        {{outlet listView}}
      </div>
    </div>

  </div>
</div>


