<table id="happening-list">
<tbody>
  <tr>
    <th class="num">{{happening.title}}</th>
    <th class="num">Age</th>
  </tr>
  <tr>
    <td>
       <a {{bindAttr href="happening.url"}} target="_blank">{{happening.title}}</a>

       {{#linkTo 'happening.show' happening }} ember happening link {{/linkTo}}
    {{#if happening.pics}}
      {{#each pic in happening.pics }}
      <img {{bindAttr src="pic.url"}}>  
      {{/each}}
    {{/if}}
      <td></tr>

    </tbody>
  </table>
  <footer class="clearfix">
    <a href="#" data-ember-action="22" class="btn btn-small"></a>
    <button class='btn btn-primary btn-small' {{action talkAboutHappening happening}}> 
      Talk about this
    </button>
  </footer>
