  <section class="category-column">
    <table id="happening-list">
    <tbody>
      <tr>
        <th class="num">{{content.happening.title}} </th>
      </tr>
      <tr>
        <td>
          {{ content.happening.mainImage }}
          {{ content.happening.descriptionFromJson }}
           <a {{bindAttr href="url"}} target="_blank">{{origin}}  {{title}} </a>
{{ content.happening.title }}
        {{#if pics}}
          {{#each pic in pics }}
          <img {{bindAttr src="pic.url"}}>  
          {{/each}}
        {{/if}}
{{!debugger}}
     

          <td></tr>

        </tbody>
      </table>
    </section>
