<ul class="nav nav-pills">
  <li {{bindAttr class="generalSelected:active"}}>
    <a href="#" {{action selectGeneral}}>Be the first to say something about this event:</a>
  </li>
</ul>


<div class="modal-body" >
   <div >
    <form>
      <section class='field'>
        <label>Your comment</label>
        {{textField  maxlength="50"}}
      </section>

        {{view Ember.TextArea valueBinding="title"}}

  <label>{{i18n topic.split_topic.topic_name}}</label>
  {{textField value=topicName placeholderKey="composer.title_placeholder"}}

    </form>
  </div>


</div>

<div class="modal-footer">
  <button class='btn btn-primary pull-right' {{action createHappeningAndTopic}}> 
    Save
  </button>
</div>



